{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if show_create_with_pdf %}
        <li>
            <a href="{% url 'admin:article_create_with_pdf' %}" class="addlink">
                {% translate "Create with PDF" %}
            </a>
        </li>
        {{ block.super }}

    
    {% elif show_create_chat_room %}
    <li>
        <a href="{% url 'admin:create_chat_room' %}" class="addlink">
            {% translate "Create new chat" %}
        </a>
    </li>
    {% else %}
    {{ block.super }}
    {% endif %}

    
    
{% endblock %}